/*.WorkPage{
  width:100%;
}*/

.WorkPage .LineBreak{
  height: 5%;
  width: 100% ;
}
.WorkPage .row {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.WorkPage .column {
  width:100%;
  flex: 25%;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin:2px;
}

.WorkPage .column img {
  width:100%;
  min-width: 250px;
  box-sizing: border-box;
  margin:2px;
}
.WorkPage .WorkItem{
  position: relative;
  cursor: pointer;

}
.WorkPage .WorkItem:hover .Overlay{
  height: 100%;
}
.WorkPage .WorkItem:hover .OverlayName{
  opacity: 1;
}

.WorkPage .Overlay{
  box-sizing: border-box;
  width:100%;
  height: 0%;
  min-width: 250px;
  position: absolute;
  bottom: 0;
  margin:2px;
  
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  transition: height 0.5s ease-out;
}

.WorkPage .OverlayName{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    margin:4px;
    color: white;

    opacity: 0;
    transition: 0.5s ease-out;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .WorkPage .column {
    flex: 100%;
    max-width: 100%;
  }
}