.Slider .Picture{
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
@media  screen and (max-width: 800px){/*1500px*/
  .Slider .Picture .del{
    display: none;
  }
}
/*???????????*/
.Slider{
  display: flex;
  align-items: center;

  height:250px;
  position: fixed;
  z-index: 1000;

  background: #4e5162;
  bottom:0px;
  right: 0px;
  padding: 20px;

  border-top-right-radius: 25px;
  border-top-left-radius: 25px; 


  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}
.ToggleSlider{
  background: #4e5162;
  position: fixed;
  
  bottom: 240px;
  
  width: 100px;
  z-index: 200;

  border: 2px solid white;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;

  outline: none;  

  transform: translateY(280px);
  transition: transform 0.3s ease-out;
}
@media  screen and (max-width: 1300px){/*1500px*/
  .Slider{
    width: 90%;
    margin-right: 40px;
  }
  .ToggleSlider{
    right: 45%;
  }
}
@media  screen and (min-width: 1299px){/*1499px*/
  .Slider{
    width: 76%;
    margin-right:45px ;    
  }
  .ToggleSlider{
    right: 38%;
  }
}

.ToggleSlider.Open{
  transform: translateX(0);
}

.Slider.Open{
  transform: translateX(0);
}
/*???????????????*/
.Slider .Picture img{
  width:100%;
  height: 100%;
max-height: 250px;
}
/*???????????????*/
.Slider .Picture .ArtItem{
  position: relative;
  cursor: pointer;
  margin: 1%;
  width:100%;
  height: 100%;  
}

.Slider .Picture .ArtItem:hover .Overlay{
  height: 100%;
}
.Slider .Picture .ArtItem:hover .OverlayName{
  opacity: 1;
}

.Slider .Picture .WorkItem{
  position: relative;
  cursor: pointer;
  margin: 1%;
  width:100%;
  height: 100%;

}
.Slider .Picture .WorkItem:hover .Overlay{
  height: 100%;
}
.Slider .Picture .WorkItem:hover .OverlayName{
  opacity: 1;
}

.Slider .Picture .Overlay{
  box-sizing: border-box;
  width:100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  transition: height 0.5s ease-out;
}

.Slider .Picture .OverlayName{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: white;

  font-size: 0.8rem;

  opacity: 0;
  transition: 0.5s ease-out;
}

/*?????????????*/

.Arrow{
  width: 100px;
  height: 100px;
}

#LeftArrow{
  transform: rotate(180deg);
}
