/* Create four equal columns that sits next to each other */
#WorkPage .column {
  flex: 25%;
  margin:2px;
}
#WorkPage .column img {
  width:100%;
  min-width: 300px;
  margin:2px;
}
#WorkPage .Thumbnail{
  position: relative;

}
#WorkPage .Thumbnail:hover .Overlay{
  height: 100%;
}
#WorkPage .Thumbnail:hover .OverlayName{
  opacity: 1;
}

#WorkPage .Overlay{
  position: absolute;

  width:100%;
  height: 0%;
  
  bottom: 0;
  margin:2px;
  
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  transition: height 0.5s ease-out;
}

#WorkPage .OverlayName{
  position: absolute;

  bottom: 0;  
  margin:4px;

  color: white;

  opacity: 0;
  transition: 0.5s ease-out;

  font-size: 150%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  #WorkPage .column {
    flex: 100%;
    max-width: 100%;
  }
}