.DetailWorkPage{
	/*width:100%;
	height:100%;*/
  	white-space: pre-wrap;
}
.DetailWorkPage .ReactPlayer{
	box-sizing: border-box;
	width:100%;
}
.DetailWorkPage .LineBreak{
	height: 5%;
	width: 100%	;
}
.DetailWorkPage p{
	font-size: 1.2rem;
	color: black;
}
.DetailWorkPage h2{
	font-size: 2rem;
	font-weight: bold;
}
.DetailWorkPage h3{
	font-weight: bold;
}
.DetailWorkPage h6{	
	font-style: italic;
	color: #4e5162;
}
.DetailWorkPage .title{
	text-align: center;
}
@media  screen and (max-width: 1000px){/*1500px*/
	.DetailWorkPage .descriptionTitle{
		display: flex;
		flex-direction: column;
	}
}
@media  screen and (min-width: 999px){/*1499px*/
	.descriptionTitle{
		display: flex;
		flex-direction: row;
	}
}

.DetailWorkPage hr{	
	background: #4e5162;
	height: 2;
}