.fancyHorLine{	
	width: 100%;
}
.WorkItem{
	text-align: left;
	margin: 50px;

}
.WorkIcon{
	border: none;
	background: none;
	outline: none;
}
.WorkIcon img{
	width:10vw;
}
.WorkIcon:hover img{
	width: 12vw;
}