/*.ArtPage{
  width:100%;
}*/

.ArtPage .LineBreak{
  height: 5%;
  width: 100% ;
}
.ArtPage .row {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.ArtPage .column {
  width:100%;
  flex: 25%;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin:2px;
}

.ArtPage .column img {
  width:100%;
  min-width: 250px;
  box-sizing: border-box;
  margin:2px;
}
.ArtPage .ArtItem{
  position: relative;
  cursor: pointer;

}
.ArtPage .column > .ArtItem:hover .Overlay{
  height: 100%;
}
.ArtPage .column > .ArtItem:hover .OverlayName{
  opacity: 1;
}

.ArtPage .column .Overlay{
  box-sizing: border-box;
  position: absolute;

  width:100%;
  height: 0%;

  min-width: 250px;
  
  bottom: 0;
  margin:2px;
  
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  transition: height 0.5s ease-out;
}

.ArtPage .column .OverlayName{
  box-sizing: border-box;
  position: absolute;

  bottom: 0;  
  margin:4px;

  color: white;

  opacity: 0;
  transition: 0.5s ease-out;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .ArtPage .column {
    flex: 100%;
    max-width: 100%;
  }
}