.cir {
	position:absolute;
	width: 4vw;
	height: 2vw;
	border-radius: 100px / 50px;

	background: #1e2130;

	display: block;
}
.cir1, .cir2, .cir3{
	position:absolute;
	width: 4vw;
	height: 2vw;
	border-radius: 100px / 50px;

	background: #4e5162;
}
.Level{
	cursor: pointer;
	min-width: 50px;
	min-height: 25px;
}

.Level p{
	position: absolute;
	display: block;
	top: 100%;
	left: -15%;
	color: white;
	font-size: 1vw;
	white-space: nowrap;
	font-weight: bold;
	margin: 0;
}

.SpreadEffect{
	display: none;	
}