html{
  font-size: 20px;
  background-color: #916341;
}

/****************/
.Panel{
  background: #92929a;
  z-index: 100;/*!!!!!!!!!!!*/

  border: 10px double #1e2130;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);

  font-family: Georgia, serif;
  color: #1e2130;

  position: absolute;
  top:0px;
  right: 0px;
}
.Panel a{
  word-break: break-all;
}
.Panel h1{
  text-align: right;
  font-size: 300%;
}

@media  screen and (max-width: 1300px){/*1500px*/
  .Panel{
    width: 90%;
    margin:40px ;
  }
  .Panel .PanelContent{
    box-sizing: border-box; 
    margin:50px;
  }
}
@media  screen and (min-width: 1299px){/*1499px*/
  .Panel{
    width: 76%;
    margin:45px ;
  }
  .Panel .PanelContent{
    box-sizing: border-box; 
    margin:100px;
  }
}
.Panel .PanelContent.AboutMePage{
  margin:0px;
}

